@import "tailwindcss";

:root {
  --background: #F5F7FA;
  --sidebar-background: #FFFFFF;
  --primary: #172033;
  --secondary: #64748B;
  --accent: #2563EB;
  --soft-accent: #DBEAFE;
  --border-color: #E2E8F0;
  --shadow-color: #b2b8c0;
  --card-background: #fff ;
  --available: #7EB942;
  --icon-size: 3rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --sidebar-background: #111827;
    --primary: #F8FAFC;
    --secondary: #94A3B8;
    --accent: #60A5FA;
    --soft-accent: #1E3A5F;
    --border-color: #334155;
    --shadow-color: #536175;
    --card-background: #1E293B ;
  }
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}
